{% extends 'base/base.html' %}

{% block content %}
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5>Data Koperasi</h5>
        </div>
        <div class="card-block table-border-style">
            <div>
                <span>
                    <a href="{%url 'c_bantuan_kop'%}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" style="color: aliceblue;"><i class="fas fa-print fa-sm text-white-50"></i> Cetak</a>
                    <a data-toggle="modal" data-target="#myModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"style="color: aliceblue;"><i class="fas fa-plus fa-sm text-white-50"></i> Tambah</a>
                </span>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="coba">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama koperasi</th>
                            <th>Alamat</th>
                            <th>No Hp</th>
                            <th>Nama Ketua</th>
                            <th>Jumlah Anggota</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in bantuan %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{x.koperasi.nama_koperasi}}</td>
                            <td>{{x.koperasi.alamat}}</td>
                            <td>{{x.koperasi.no_hp}}</td>
                            <td>{{x.koperasi.ketua}}</td>
                            <td>{{x.koperasi.jumlah_anggota}}</td>
                            <td>
                                
                                <a data-toggle="modal" data-target="#Modalinfo{{x.id}}"><button type="button" class="btn btn-success btn-sm"><i class="fas fa-info"></i></button></a>
                                <a data-toggle="modal" data-target="#Modaledit{{x.id}}"><button type="button" class="btn btn-warning btn-sm"><i class="far fa-edit"></i></button></a>
                                <a data-toggle="modal" data-target="#Modalhapus{{x.id}}"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button></a>

                                <div class="modal fade bd-example-modal-lg" id="Modalinfo{{x.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                                                <h4 class="modal-title" id="myModalLabel">Detail bantuan</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <th>No</th>
                                                        <th>Dak</th>
                                                        <th>KKP</th>
                                                        <th>Tahun</th>
                                                    </thead>

                                                    <tbody>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{x.dak}} </td>
                                                        <td>{{x.kkp}} </td>
                                                        <td>{{x.tahun}}</td>
                                                    </tbody>
                                                </table>

                                            </div>
                                                <div class=" modal-footer">
                                                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary btn-flat" id="simpan">Tambah</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>   

                            </td>
                            <div class="modal fade" id="Modalhapus{{x.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                                            <h4 class="modal-title" id="myModalLabel">Hapus Data Bantuan</h4>
                                        </div>
                                        <form class="form-horizontal" action="{% url 'hapus_bantuan_kop' x.id %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                    <h1 style="font-size: 20px;">Apakah anda yakin ingin menghapus data?</h1>
                                            </div>
                                            <br>
                            
                                            <div class=" modal-footer">
                                                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger btn-flat" id="simpan">Hapus</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <div class="modal fade" id="Modaledit{{x.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ubah Data Bantuan</h4>
                                    </div>
                                    <form class="form-horizontal" action="{% url 'ubah_bantuan_kop' x.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                                <label class="col-sm-4 control-label">Bantuan Dak</label>
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-4 control-label">Nama Alat</label>
                                                <div class="col-sm-10">
                                                    <textarea name="dak" id="" class="form-control" cols="5" rows="5">{{x.dak}}</textarea>
                                                </div>
                                            </div>
                                            <br>
                                                <label class="col-sm-4 control-label">Bantuan KKP</label>
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-4 control-label">Nama Alat</label>
                                                <div class="col-sm-10">
                                                    <textarea name="kkp" class="form-control" id="" cols="5" rows="5">{{x.kkp}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                        
                                        <div class=" modal-footer">
                                            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary btn-flat" id="simpan">Tambah</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                             
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title" id="myModalLabel">Tambah Data Bantuan Koperasi</h4>
            </div>
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Nama KUB</label>
                        <div class="col-sm-10">
                            <input type="text" name="nama_koperasi" class="form-control" id="cari" placeholder="Nama koperasi" required>
                            <ul class="list-group" id="hasil"></ul>
                        </div>
                        <input type="text" name="id" id="id" hidden>
                    </div>
                        <label class="col-sm-4 control-label">Bantuan Dak</label>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Nama Alat</label>
                        <div class="col-sm-10">
                            <textarea name="dak" id="" class="form-control" cols="5" rows="5"></textarea>
                        </div>
                    </div>
                    <br>
                        <label class="col-sm-4 control-label">Bantuan KKP</label>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Nama Alat</label>
                        <div class="col-sm-10">
                            <textarea name="kkp" class="form-control" id="" cols="5" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class=" modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-flat" id="simpan">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}