{% extends 'base/base.html' %}

{% block content %}
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5 style="color:red    ;">PERINGATAN !!!</h5>
        </div>

        <div class="card">
            <div class="card-block">
                <p>Kelompok {{Kop.nama_koperasi}} belum mendapatkan bantuan apapun !
                </p>
                <form action="{% url 'tambah_bantukop' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="id" value="{{Kop.id}}" hidden>
                    <button type="submit" class="btn btn-primary">Tambah bantuan</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}