{% extends 'base/base.html' %}

{% block content %}
<div class="main-body">
	<div class="page-wrapper">
		<!-- [ Main Content ] start -->
		<div class="row">
			<!--[ daily sales section ] start-->
			<div class="col-md-6 col-xl-4">
				<div class="card daily-sales">
					<div class="card-block">
						<h6 class="mb-4">Kelompok Usaha Awal</h6>
						<div class="row d-flex align-items-center">
							<div class="col-9">
								<h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="fab fa-battle-net text-c-green f-30 m-r-10"></i> 	{{t_kub_awal}}</h3>
							</div>
						</div>
						<div class="progress m-t-30" style="height: 7px;">
							<div class="progress-bar progress-c-theme" role="progressbar" style="width: 25%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
			<!--[ daily sales section ] end-->
			<!--[ Monthly  sales section ] starts-->
			<div class="col-md-6 col-xl-4">
				<div class="card Monthly-sales">
					<div class="card-block">
						<h6 class="mb-4">Kelompok Usaha Bersama</h6>
						<div class="row d-flex align-items-center">
							<div class="col-9">
								<h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="fas fa-biohazard text-c-red f-30 m-r-10"></i>{{t_kub}}</h3>
							</div>
							<div class="col-3 text-right">
								<p class="m-b-0"></p>
							</div>
						</div>
						<div class="progress m-t-30" style="height: 7px;">
							<div class="progress-bar progress-c-red" role="progressbar" style="width: 50%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
			<!--[ Monthly  sales section ] end-->
			<!--[ year  sales section ] starts-->
			<div class="col-md-12 col-xl-4">
				<div class="card yearly-sales">
					<div class="card-block">
						<h6 class="mb-4">Koperasi</h6>
						<div class="row d-flex align-items-center">
							<div class="col-9">
								<h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="fas fa-dragon text-c-purple f-30 m-r-10"></i>{{t_kop}}</h3>
							</div>
							<div class="col-3 text-right">
								<p class="m-b-0"></p>
							</div>
						</div>
						<div class="progress m-t-30" style="height: 7px;">
							<div class="progress-bar progress-c-theme2" role="progressbar" style="width: 100%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
			<!--[ year  sales section ] end-->
			<!--[ Recent Users ] start-->

		</div>
		<!-- [ Main Content ] end -->
	</div>
</div>
{% endblock content %}